.navBarMenu {
  display: flex;
  justify-self: center;
  gap: 3rem;
}

.navBarMenu li {
  list-style-type: none;
}

.menuLink {
  font-weight: 500;
  text-decoration: none;
  transition:
    color .2s ease,
    border .2s ease;

  &::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background-color: var(--highlight-color);
    transition: width .2s ease-out;
  }

  &:hover {
    color: var(--highlight-color);

    &::after {
      width: 100%;
    }
  }
}
